.header {
  background-color: rgb(3, 216, 216);
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.form {
  position: relative;
}

.input {
  width: 300px;
  height: 40px;
  padding-left: 38px;
  border-radius: 6px;
  border: 1px solid teal;
  transition: background-color 250ms ease;
}

.input:hover,
.input:focus,
.input:active {
  cursor: pointer;
  outline: none;
  background-color: whitesmoke;
}

.icon {
  width: 18px;
  height: 18px;
}

.searchBtn {
  position: absolute;
  left: 4px;
  top: 8px;
  width: 28px;
  height: 28px;
  border: none;
  background-color: transparent;
}

.searchBtn:hover {
  cursor: pointer;
}
